newstyle.css  

@font-face { 
  font-family: 'Roboto'; 
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
} 

h1 {
    font-family: 'Roboto', sans-serif; 
    font-weight: lighter;
    font-size:40pt;
}
 
body {
	background-color: #ebddc9;
    /*margin: auto;*/
   /* padding: 0;*/
    color: #897561;
    font-size:30pt;
    font-family: 'Roboto', sans-serif; 
    font-weight: lighter;
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 

}

.links {
  }

    /* unvisited link */
a:link {
  color: #897561;
}

/* visited link */
a:visited {
  color: #897561;
}

/* mouse over link */
a:hover {
  color: #C1AFD5;
}

everything {
   position: relative;
}


